App
{
  height : 100%;
  width: 100%
}

.container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title
{
  margin: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  font-weight: bolder;
  text-decoration: underline;
}

.cards
{
  display: flex;
}