.container
{
  width: 2000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title
{
  margin: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  font-weight: bolder;
  text-decoration: underline;
}

.cards
{
  display: flex;
}

.card
{
  border: 2px solid black;
  border-shadow: 10px;
  border-radius: 30px;
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  transition: height 0.1s;
}